.button {
  padding: 10px 32px;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  border: none 0;
  outline: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  background-image: linear-gradient(277.88deg, #51b441 32.37%, #61c451 99.3%);
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.button:active {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);

    transform: scale(0.99);
}

.button:disabled {
    background-image: linear-gradient(277.88deg, #a6b4a4 32.37%, #bdc4bc 99.3%);
    color: #e0e0e0;
    cursor: not-allowed;
}
