name: Check code validity

on: [push]

jobs:
  check:
    name: Check code format and TypeScript types
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Use PNPM
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
      - name: Install dependencies
        run: pnpm install
      - name: Check files are formatted with Prettier
        run: pnpm prettier --check README.md CONTRIBUTING.md package.json "packages/**/*.{js,jsx,ts,tsx,md,mdx,json}"
      - name: Check TypeScript typings
        run: |
          cd packages/storybook-addon-designs
          pnpm run check
